<!doctype html>
<html lang="en">

<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>HeyChatbot<%=ID%> </title>


  <link href="https://bootstrap.hexschool.com/dist/css/bootstrap.min.css" rel="stylesheet">


  <link href="chat_tool.css" rel="stylesheet">
</head>

<body class="bg-light" id="scrolldIV2" style="height: 660px;">
  
  <nav class="navbar navbar-expand-lg fixed-top navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand mr-auto mr-lg-0" href="http://<%-ip%>">HeyChatbot</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <div class="navbar-nav mr-auto">
        <!-- <div class="nav-item">我的最愛
          <a class="nav-link" href="http://<%=ip%>/favorite">
            <img src="http://lorempixel.com/335/110/" alt="">
          </a>
        </div> -->
        <div class="nav-item">設定
          <a class="nav-link" href="http://<%=ip%>/setting">
            <!--<img src="http://lorempixel.com/335/110/" alt="">-->
            <div class="hover"></div>
          </a>
        </div>
       <!-- <div class="nav-item">隱私條款
          <a class="nav-link" href="http://<%=ip%>/private">
            <img src="http://lorempixel.com/335/110/" alt="">
          </a>
        </div> -->
        <div class="nav-item">我的好友
          <a class="nav-link" href="http://<%=ip%>/friend">
            <!--<img src="http://lorempixel.com/335/110/" alt="">-->
          </a>
        </div>
        <div class="nav-item">我的行程
          <a class="nav-link" href="http://<%=ip%>/schedule">
            <!--<img src="http://lorempixel.com/335/110/" alt="">-->
          </a>
        </div>
        <div class="nav-item">附近景點
          <a class="nav-link" href="http://<%=ip%>/nearby">
            <!--<img src="http://lorempixel.com/335/110/" alt="">-->
          </a>
        </div>
        <div class="nav-item">登出
          <a class="nav-link" href="http://<%=ip%>/logout">
            <!-- <img src="http://lorempixel.com/335/110/" alt="">-->
          </a>
        </div>
      </div>
    </div>
  </nav>
  


  <div id='wrap' class="wrap" style="margin: 15px">
      <p>
          <%=message%>
        </p>
        <p>
            <%-send %>
          </p>
      <form action="http://<%-ip%>/addstr" method="post" class="form">
       
        
      <!-- <div class="echo" id="scrolldIV">
      </div> -->
      <div class="text">
        <input type="text" name="addstr" style="height :50px" autofocus>
      </div>
      <div class="send">
        <input type="submit" class="submit" name="submit" style="height :50px" value="提交">
      </div>
    </form>

  </div>


  <script type="text/javascript">
 
    window.onload = function () {
      add();
    }
    function add() {

      var now = new Date();
      var div = document.getElementById('scrolldIV2');
      
      div.scrollTop = 999999999;

    }

  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="https://bootstrap.hexschool.com/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="https://bootstrap.hexschool.com/assets/js/vendor/popper.min.js"></script>
  <script src="https://bootstrap.hexschool.com/dist/js/bootstrap.min.js"></script>
  <script src="https://bootstrap.hexschool.com/assets/js/vendor/holder.min.js"></script>
  <script src="chat_tool.js"></script>
</body>

</html>