<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<meta name="viewport" content="width=device-width, minimun-scale=1.0, initial-scale=1.0, user-scalable=yes">

	<link rel="stylesheet" type="text/css" href="css/index.css" />

	<link rel="import" href="components/bower_components/core-toolbar/core-toolbar.html">
	<link rel="import" href="components/bower_components/paper-elements/paper-elements.html">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">



	<title>nearby</title>
</head>

<body >



	<core-toolbar class="toolbar" style=" position: fixed;bottom: top;">
		<paper-icon-button icon="menu"></paper-icon-button>
		<a class="list-group-item" href="http://<%-ip %>/loginin"><i class="fa fa-chevron-left fa-3x"></i> </a>
	<!--	 <span class="toolbar_title" flex>I am a toolbar!!!!</span> -->
		<a class="list-rightbars" href="http://<%-ip %>/friend"><i class="fa fa-bars fa-3x"></i> </a>
	</core-toolbar>

<!-- 這一頁會用表格的方式呈現使用者資料有 帳號、名字、生日、性別、信箱
下面的send大概長這樣 -->

<!--	<div class="box animated slideInRight">
	   <div class="main_tooltitle">我的最愛
        </div>
        <div class="main_tooltitle">設定
        </div>
        <div class="main_tooltitle">隱私條款
        </div>
        <div class="main_tooltitle">登出
        </div>
    </div>
-->	

 <div class="nearby" >



    <div class="search">
        <button class="search_gps"onclick="window.location.href='http://<%=ip %>/gps'">重新定位</button>
        <%-search %>
        <!-- <input class="nearby_search" type="text" name='search' > -->
         
        <!-- <input class="nearby_search" type="text" name='search' >
        <a href=""><img class="imgsearch" src="img/musica-searcher.png" alt=""></a>   -->
      </div>   

       <div class="nearby_list"><%-context %></div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/bar.js" charset="UTF-8"></script> 
</body>
</html>